<div class ="main-top">
  <div class="main_contener">
   <div class="maintext_contener">
      <h1>研究者のための研究プラットフォーム</h1>
      <p>量的調査・質的調査のためのアンケート相手・インタビュー相手を探せます</p>
    <div class="first_button">
      <input class="btn btn-primary" type="button" value="さっそく始める(新規登録)" onclick="location.href='/singup'">
    </div>
   </div>
    <img src="/assets/undraw_conversation_h12g.svg" alt="">
  </div>
</div>
<div class ="second-top">
 <div class="second_contener">
  <img src="/assets/undraw_Taking_notes_re_bnaf.svg" alt="">
  <div class="secondtext_coonteiner">
   <h1>研究者の方へ</h1>
   <p class="first-monku">One’s Voiceでは、あなたの求めるインタビュー相手を探すことができます。</p>
   <p class="second-monku">研究の際、インタビュー相手またはアンケート相手が集まらず困ったことはありませんか？</p>
   <p class="third-monku">ここでは、手軽に多くのモニターにアプローチすることができます。</p>
  </div>
 </div>
</div>
<div class ="third-top">
 <div class="third_conteiner">
  <div class="thirdtext_conteiner">
   <h1>モニターの方へ</h1>
   <p class="user-first-monku">One’ Voiceでは、あなたの可能な時間にインタビュー</p>
   <p class="user-second-monku">または、アンケートに答えることができます</p>
   <p class="user-forth-monku">また、個人のデータ研究者の責任のもと手厚く管理され、</p>
   <p class="user-fifth-monku">研究以外の目的には使用されません。</p>
   <p class="user-sixth-monku">ぜひ、あなたの声を研究者に届け、研究に貢献しましょう</p>
  </div>
  <img src="/assets/undraw_video_call_kxyp.svg" alt="">
 </div> 
</div> 
<nav class="flex-column">
  <a class="nav-link active" href="/">ページトップ</a>
  <a class="nav-link" href="/singup">新規登録</a>
</nav>